<div class="panel panel-info" >
  <div class="panel-heading">
    <h3>Invite a new member</h3>
  </div>
  <div class='panel-body'>
    <% if current_user.team_admin(@team) %>
      <div class = "row">
        <div class = "col-xs-12 col-sm-12">
          <%= form_tag add_users_team_path(@team), class:'form-inline' do %>
            <div class="form-group">
              <%= text_field_tag 'name[0]', nil,  placeholder: "Name", class: "form-control", id: 'add_user_name', required: true %>
            </div>
            <div class="form-group">
              <%= email_field_tag 'email[0]', nil, placeholder: "Email", class: "form-control", required: true %>
            </div>

            <div class="checkbox">
              <label><%= check_box_tag 'observer[0]', 1, false, class: 'role-change' %> Invite as a watcher</label>
            </div>

            <div><div class="form-group"><%= submit_tag 'Invite User', class: "btn btn-success" %></div></div>
          <% end %>
        </div>
      </div>
    <% else %>
      <p>Only team admin can add members.</p>
    <% end %>

  </div>
</div>
