<%= render 'team_header' %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3>Team Settings <small>Change your team's details</small></h3>
    <p></p>
  </div>
  <%= form_for @team do |f| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h4 class="text-danger">
          <%= pluralize(@team.errors.count, "error") %> prohibited
          this team from being saved:
        </h4>
        <ul>
          <% @team.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="panel-body">
      <div class="row">
        <%if current_user.plan.slack? %>
          <% if !@team.team_setting.slack_url.present? %>
            <div class="col-sm-8">
              <h4>Please integrate slack for getting notification in your team's #channel.</h4> </br>
              <a href="https://slack.com/oauth/authorize?&client_id=<%=ENV['SLACK_ID']%>&scope=commands,incoming-webhook,chat:write:bot"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
            </div><br/>
          <% end %>
        <% end %>

        <% if @team.team_setting.github_token.blank? %>
          <div class="col-sm-8">
            <h4>Please integrate github for getting commit messages in digest content.</h4> </br>
            <%= link_to github_authorize_url, class: 'btn btn-default' do %>
              <span class="fa fa-github fa-lg" aria-hidden="true"></span>&nbsp;Add To <strong>GitHub</strong>
            <% end%>
          </div>
        <% end %>

      <div class="col-xs-12 col-sm-8">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :required => true, :placeholder=> "Name of Team",:class => "form-control" %>
        </div>
        <%= f.fields_for :team_setting do |setting| %>
          <div class="form-group">
            <%= setting.label :timezone %>
            <%= setting.time_zone_select :timezone, /Chennai/, {:default => "Chennai"}, {:class => "form-control"} %>
            <p class="help-block">Timezone for the team, based on which the question and the digest emails are sent if any member has not set a timezone.</p>
          </div>

          <% if @team.team_setting.slack_url.present? %>
            <div class="form-group">
              <%= setting.label :slack_enabled, 'Enable Slack Notification' %>&nbsp;&nbsp;
              <%= setting.check_box :slack_enabled, { checked: @team.team_setting.slack_enabled } %>
            </div>
          <% end %>

          <% if @team.team_setting.github_token.present? %>
            <div class="form-group">
              <%= setting.label :github_enabled, 'Enable GitHub Notification' %>&nbsp;&nbsp;
              <%= setting.check_box :github_enabled, { checked: (@team.team_setting.github_enabled), id: "github_enabled" }%>


              <%= link_to "Configure Repos", edit_github_hook_path, class: "btn btn-success btn-sm", id: "config_repos", style: @team.team_setting.github_enabled ? "" : "display:none;" %>
            </div>
          <% end %>

          <div class="form-group">
            <%= setting.label 'Question Email Time' %>
            <%= setting.select :question_email_at, question_time, {}, {:class => "form-control"} %>
            <p class="help-block">The time at which the question email is sent for all team members.</p>
          </div>
          <div class="form-group">
            <%= setting.label 'Digest Email Time' %>
            <%= setting.select :digest_email_at, digest_time, {}, {:class => "form-control"} %>
            <p class="help-block">Time at which a consolidated digest email is sent to all members and watchers.</p>
          </div>
          <div class="form-group">
            <%= setting.label 'Question Email Days/Digest Email Days' %>
            <%=select_tag 'team[team_setting_attributes][days][]', options_for_select(Date::DAYNAMES.zip((0..6).to_a), @team.team_setting.days), multiple: true, class: "form-control render-days", id: "days-select"%>
            <p class="help-block">Question Emails will be sent on these week days only.</p>
          </div>

          <div class="form-group">
            <div class="highlight">
            <label for="exampleInputFile">Change Photo</label>
            <%= setting.file_field :photo, id: 'team-photo' %>
            <p class="help-block">Select a photo to set as the team picture.</p>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-4">
            <button type="submit" class="btn btn-success">Update Details</button>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Don't want this team anymore?</h3>
              </div>
              <div class="panel-body">
                <p>When you delete a team, you lose all the associated data and settings with it.</p>
                <p><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash"></i> Delete Team</button></p>
              </div>
            </div>
          </div>
          <p style="margin-bottom: 20px;">&nbsp;</p>
        </div>

      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="highlight">
          <span class="label label-info">STEP 1</span>
          <h4>All team members will recieve a daily question email at <%= @team.question_email_at %></h4>
          <p>Members have to send a reply to <small><a href='mailto:<%= @team.email %>'><%= @team.email %></a></small> with what was done today, the plan for tomorrow and any blockers</p>

          <h4>A sample reply</h4>
<pre>
Today: I resolved 30 support tickets for Whitemakers, Inc.
Tomorrow: Develop a form for taking a customer support request and integrate it with Slack.
Blockers: Needs input from John IT on authentication credentials of our CRM
</pre>
        </div>

        <div class="highlight">
          <span class="label label-info">STEP 2</span>
          <h4>Consolidated digest email</h4>
          <p>At <%= @team.digest_email_at%> the next day, a digest email will be sent to all team members from AgileJoker.</p>
        </div>

      </div>
      </div>
    </div>
  <% end %>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Delete Team?</b></h4>
      </div>
      <div class="modal-body form-group">
        <p>This action <strong>CANNOT</strong> be undone. This will permanently delete your  Team <strong><%= @team.name%></strong>, posts and remove all related data.<br/>
          Please type the name of your team to confirm</p>
        <%= text_field_tag :team_name, "", class: "form-control", data: {name: @team.name}, id: "txtConfirmName", onChange: "checkNameMatch();"%>
      </div>
      <div class="modal-footer">
        <div>
          <%= link_to 'Delete this team','#', class: "btn btn-block btn-danger", id:'button', disabled: true, data:{url: disable_team_path} %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#github_enabled').change(function(){
    if(this.checked) {
        $("#config_repos").show();
    } else {
        $("#config_repos").hide();
    }
  });
});
</script>
