
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class='col-xs-8 col-sm-8'>
          <h3>People <small>All users who are part of <%= team.name %></small></h3>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class='col-xs-12 col-sm-12'>
          <h3>Here's everyone on this team</h3>
          <p>Invite people from your team and start getting updates from them.<br/>Everyone you invite will receive a welcome email.</p>
          <p class="highlight bg-info">Watchers will get the digest mail, but will not receive the email asking for updates.</p>
        </div>
      </div>

    <div class="row">
      <div class='col-xs-12 col-sm-6'>
        <ul class="nav nav-tabs">
          <li role="presentation active">
            <a href="#team-members" data-toggle="tab">Members</a>
          </li>
          <li role="presentation">
            <a href="#watchers" data-toggle="tab">Watchers</a>
          </li>
        </ul>
        <div class="tab-content clearfix">
          <div class="tab-pane active" id="team-members">
            <div class="row">
              <div class='col-xs-12 col-sm-12'>
              <% team.members.each do |user| %>
                <%= render partial: 'team_member', locals: { team: team, user: user } %>
              <% end %>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="watchers">
            <div class="row">
            <div class='col-xs-12 col-sm-12'>
            <% team.watchers.each do |user| %>
              <%= render partial: 'team_member', locals: { team: team, user: user } %>
            <% end %>
            </div>

          </div>
          </div>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6'>
        <%= render 'add_member' %>
      </div>

    </div>

  </div>
</div>


