<%= content_for :page_header do %>
  <div class="row">
    <div class='col-xs-12 col-sm-8'>
      <div class="row">
        <div class='col-xs-12 col-sm-4'>
          <%=image_tag @team.team_setting.photo.medium.url, class: 'img-responsive full-width' %>
          <br />
        </div>
        <div class='col-xs-12 col-sm-8'>
          <div class="media">
            <h3 class="media-heading">
              <%= @team.name %> <small><span class="label label-info"><%= @team.member_count %> user(s)</span></small>
            </h3>
            <p>
              Question email at <b><%= @team.team_setting.question_email_at%></b><br />
              Digest email at <b><%= @team.team_setting.digest_email_at%></b> (next day)<br/>
            </p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href='mailto:<%= @team.email %>'><%= @team.email %></a></p>
            <p><small>Created on <%= format_date(@team.created_at.to_date) %></small></p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <%= render 'shared/feedback' %>
    </div>
  </div>
  <div class="media">
    <div class="row">
      <div class='col-xs-12 col-sm-12'>
        <% if @team.approved?(current_user)%>
          <ul class="nav nav-tabs">
            <li role="presentation"><%=link_to 'Activity', activity_team_path, remote: true, :'data-target' => "#activity" %></li>
            <li role="presentation"><%=link_to 'People', members_team_path, :'data-target' => "#members", remote: true %></li>
            <li role="presentation"><%=link_to 'My Updates', new_post_path(team_id: @team.id), remote: true, :'data-target' => "#updates" %></li>
            <% if policy(@team).update? %>
              <li role="presentation"><%=link_to 'Settings', edit_team_path, :'data-target' => "#settings", remote: true %></li>
            <% end %>
          </ul>
        <% else %>
          <p>You are invited to this team.Please accept the request. </b> <%= link_to "Click to Accept", approve_request_team_path(@team), method: :get, :class => "btn btn-success"%></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
