$('.tab-content #activity').html("<%= escape_javascript(render partial: 'team_activity', locals: { team: @team, team_posts: @activity } ) %>");
$('.nav-tabs [data-target="#activity"]').tab('show');
$('.flickr_pagination a').attr('data-remote', 'true');
