$('.tab-content #members').html("<%= escape_javascript(render partial: 'team_members', locals: { team: @team } ) %>");
$('.nav-tabs [data-target="#members"]').tab('show');
$('.nav-tabs a[href="#team-members"]').tab('show');
