<% title "#{@team.try(:name)} | AgileJoker" %>
<%= render 'team_header' %>
<div class="tab-content">
  <div id="activity" data-target="#activity" class="tab-pane"></div>
  <div id="members" data-target="#members" class="tab-pane"></div>
  <div id="settings" data-target="#settings" class="tab-pane"></div>
  <div id="updates" data-target="#updates" class="tab-pane"></div>
</div>


<%= content_for :scripts do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('.nav-tabs [data-target="#activity"]').click();
    });
  <% end %>
<% end %>
