<div class= "row">
  <div class= "col-md-3 col-sm-3"></div>
    <div class=" col-md-6 col-sm-6 ">                    
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Resend confirmation instructions <div class = "pull-right" style = "font-size: 12px"><%= link_to "Log in", new_session_path(resource_name) %></div></div>
        </div>     
       <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <div  class="panel-body" >
            <%if  devise_error_messages! %>
              <div class= "row" style="margin-bottom: 25px">
                <%=  devise_error_messages! %>
              </div>
            <% end %>
            <div class= "row" style="margin-bottom: 25px">
              <div class= "col-md-4 col-sm-4">
                <%= f.label :email %>
              </div>
              <div class = "col-md-8 col-sm-8">
                <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), required: true, class: "form-control", placeholder: "Email" %>
              </div>
            </div>
            <div class= "row" style="margin-bottom: 25px" >
              <div class= "col-md-4 col-sm-4"></div>
              <div class= "col-md-8 col-sm-8">
                <%= f.submit "Resend Confirmation instructions" , class: "btn btn-info"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>