<div class= "row">
  <div class= "col-md-3 col-sm-3"></div>
    <div class=" col-md-6 col-sm-6 ">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Account Activation </div>
        </div>
        <%= form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'patch'}, :id => 'activation-form' do |f| %>
          <div  class="panel-body" >
            <%if  devise_error_messages! %>
              <div class= "row" style="margin-bottom: 25px">
                <%=  devise_error_messages! %>
              </div>
            <% end %>
            <div class= "row" style="margin-bottom: 25px">
              <div class = "col-md-12 col-sm-12">
                <h3> Account Activation<% if resource.email %> for <%= resource.email %><% end %></h3>
              </div>
            </div>
            <% if @requires_password %>
              <% if resource.name.blank? %>
                <div class= "row" style="margin-bottom: 25px">
                  <div class= "col-xs-12 col-md-4 col-sm-4">
                    <%= f.label :name %>
                  </div>
                  <div class = "col-xs-12 col-md-8 col-sm-8">
                    <%= f.text_field :name, autofocus: true, required: true, class: "form-control", placeholder: "Name" %>
                  </div>
                </div>
              <% end %>
            <div class= "row" style="margin-bottom: 25px">
              <div class= "col-md-4 col-sm-4">
                <%= f.label :password, "Choose a password" %>
              </div>
              <div class = "col-md-8 col-sm-8">
                <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true, class: "form-control", id: "txtNewPassword", placeholder: "Password" %>
              </div>
            </div>
            <div class= "row" >
              <div class= "col-md-4 col-sm-4">
                <%= f.label :password_confirmation %>
              </div>
              <div class = "col-md-8 col-sm-8">
                <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", required: true, class: "form-control", id: "txtConfirmPassword", placeholder: "Confirm new password", onChange: "checkPasswordMatch();"%>
              </div>
            </div>

            <div class= "row" style="margin-bottom: 25px">
              <div class= "col-md-4 col-sm-4">
              </div>
              <div class = "col-md-8 col-sm-8" id="divCheckPasswordMatch">
              </div>
            </div>

            <% end %>
            <div class= "row" style="margin-bottom: 25px" >
              <div class= "col-md-4 col-sm-4"></div>
              <div class= "col-md-8 col-sm-8">
                <%= hidden_field_tag :confirmation_token,@confirmation_token %>
                <%= f.submit "Activate" , class: "btn btn-info"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
