<% content_for :page_header do %>
  <h3>Change Password <small>Changing password for <%= @user.name %></small></h3>
<% end %>
<div class='row'>
  <div class='col-xs-4 col-sm-4'>
    <div>
      <%=image_tag @user.photo.medium.url, class: 'img-circle img-responsive' %>
    </div>
  </div>
  <div class='col-xs-8 col-sm-8'>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class='row'>
    <div class="col-md-6 col-md-6">

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">New Password</label>
          <%= f.password_field :password, autocomplete: "off",  class: "form-control" ,id: "exampleInputEmail1" %>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Password Confirmation</label>
          <%= f.password_field :password_confirmation, autocomplete: "off",  class: "form-control" ,id: "exampleInputEmail1" %>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Current Password</label>
          <%= f.password_field :current_password, autocomplete: "off",  class: "form-control" ,id: "exampleInputEmail1" %>
          <i>(we need your current password to confirm your changes)</i>
        </div>
        <%= f.submit "Update",class: "btn btn-default" %>
      </form>
    </div>
  </div>
<%end%>

</div>
