<div class= "row">
  <div class= "col-md-3 col-sm-3"></div>
  <div class=" col-md-6 col-sm-6 ">
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div class="panel-title">Sign Up <div class = "pull-right" style = "font-size: 12px"><%= link_to "Log in", new_session_path(resource_name) %></div></div>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div  class="panel-body" >
          <%if  devise_error_messages! %>
            <div class= "row" style="margin-bottom: 25px">
              <%=  devise_error_messages! %>
            </div>
          <% end %>
          <div class= "row" style="margin-bottom: 25px">
            <div class= "col-xs-12 col-md-4 col-sm-4">
              <%= f.label :name %>
            </div>
            <div class = "col-xs-12 col-md-8 col-sm-8">
              <%= f.text_field :name, autofocus: true, required: true, class: "form-control", placeholder: "Name" %>
            </div>
          </div>
          <div class= "row" style="margin-bottom: 25px" >
            <div class= "col-xs-12 col-md-4 col-sm-4">
              <%= f.label :email %>
            </div>
            <div class = "col-xs-12 col-md-8 col-sm-8">
              <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email" %>
            </div>
          </div>
          <div class= "row" style="margin-bottom: 25px" >
            <div class = "col-xs-12 col-md-8 col-sm-8 col-md-offset-4" >
              <%= flash[:recaptcha_error] %>
              <%= recaptcha_tags %>
            </div>
          </div>

          <div class= "row" style="margin-bottom: 25px" >
            <div class= "col-xs-12 col-md-4 col-sm-4"></div>
            <div class= "col-xs-12 col-md-8 col-sm-8">
              <%= f.submit "Sign up" , class: "btn btn-info btn-block"%>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>
