<% content_for :page_header do %>
  <div class="row">
    <div class='col-xs-8 col-sm-8'>
      <h3>HashTags <small>View tasks based on the #hashtags</small></h3>
    </div>
  </div>
<% end %>
<%= form_tag(tasks_list_v2_team_tags_path, :method => 'get') do %>
  <div class='row row mrg-btm'>
    <div class='col-md-3'>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">#</span>
        <%= text_field_tag :hash, (params[:hash]), required: true, class: "form-control", id: "hash" %>
        <% if @tasks.present?%>
          <%= hidden_field_tag(:team_id, @tasks.first.team_id)%>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="form-group">
      <%= text_field_tag :from_date, (), class: "form-control", id: "from_date", placeholder: "From Date" %>
      <span class="fa fa fa-calendar calender-span"></span>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="form-group">
      <%= text_field_tag :to_date, (), class: "form-control", id: "to_date", placeholder: "To Date" %>
      <span class="fa fa fa-calendar calender-span"></span>
    </div>
  </div>
    <div class='col-md-2'>
      <%= submit_tag("Search", class: "btn btn-success", id: "hash_submit") %>
    </div>
  </div>
<% end %>

<div class='panel panel-info'>
  <div class='panel-heading'>
    <div class='row'>
      <div class='col-xs-8 col-sm-8'>
        <h3>Tasks <small><small></h3>
      </div>
    </div>
  </div>

  <div class='panel-body'>
    <% if @tasks.present? %>
      <%@tasks.each do |task|%>
        <% if task.completed? %>
          <div class='row grid'>
            <div class="col-md-6">
              <%= render_with_hashtags(task.title, task.team_id) %>
            </div>
            <div class="col-md-2">
              <span class="label label-success"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <%= format_date(task.completed_on)%></span>
            </div>
              <div class="col-md-2">
                <b><%= User.find(task.assigned_to).name %></b>
              </div>
            <div class="col-md-2">
              <span class="label label-success"><i class="fa fa-check-square" aria-hidden="true"></i> Completed</span>
            </div>
          </div><br/>
        <%else%>
          <div class="row grid">
            <div class="col-md-6">
              <%= render_with_hashtags(task.title, task.team_id) %>
            </div>
            <div class="col-md-2">
              <span class="label label-success"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <%= format_date(task.due_on)%></span>
            </div>
              <div class="col-md-2">
                <b><%= User.find(task.assigned_to).name %></b>
              </div>
            <div class="col-md-2">
              <% if !task.blocker %>
                <span class="label label-primary"><i class="fa fa fa-clock-o" aria-hidden="true"></i> Pending</span>
              <% else %>
                <span class="label label-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Blocker</span>
              <% end %>
            </div>
          </div><br/>
        <% end %>
      <% end %>
      <div class="flickr_pagination">
        <%= will_paginate @tasks, :container => false %>
      </div>
    <% else %>
      <div class= 'well well-sm'>
        No results found
      </div>
    <% end %>
  </div>
</div>
