<%= form_for task, url: add_my_task_v2_team_tasks_path do |f| %>
  <div class="row mrg-top">
    <div class = "col-md-9 col-sm-12 col-xs-12">
      <%= f.text_field :title, class: 'form-control', required: true, placeholder: 'Type in the tasks you are planning for tomorrow, use #tags to group tasks' %>
      <%= f.hidden_field :team_id, value: team.id%>
    </div>
    <div class = "col-md-3 col-sm-12 col-xs-12">
      <%= f.text_field :due_on, class: 'form-control tmw-datepicker', required: true, readonly: 'readonly' %>
    </div>
  </div>
  <div class="row mrg-btm">
    <div class = "col-md-2 col-sm-12 col-xs-12">
      <%= f.button(type: "submit", class: "btn btn-success", name: "commit") do %>
       <i class="fa fa-plus" aria-hidden="true"></i> Add
      <% end %>
    </div>
    <div class = "col-md-10 col-sm-12 col-xs-12">
      <i class="fa fa-info-circle" aria-hidden="true"></i> Only tasks for tomorrow will be shown below.
    </div>
  </div>
<% end %>
