<% if @tasks.present? %>
	<table class="table table-hover">
	  <%= render @tasks%>
	</table>
<% else %>
<table class= "table table-hover">
    <tr>
      <td>No tasks found</td>
    </tr>
  </table>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate @tasks %>
</div>
