<tr>
  <td width="55%"><%= truncate(render_with_hashtags(task.title, task.team_id), escape: false, length: 100){ link_to "more", "#", class: "more-#{task.id}"} %></td>
  <div>
    <td width="55%"><%= render_with_hashtags(task.title, task.team.id)+ " " %> <%= link_to "less", "#", class: "less-#{task.id}" %></td>
  </div>
  <td><span class="label label-success"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <%= format_date(task.due_on)%></span></td>
  <td><%= select_tag 'assignee_id', options_from_collection_for_select(@users, 'id', 'name', selected: task.assigned_to), class: "form-control", id: 'select_user', :onchange => "changeAssignee(this, #{task.id}, #{task.team_id});"  %></td>
  <td> <span class="label <%= status(task)[:class] %>"> <%= status(task)[:text] %></span></td>
  <td>
    <div id= "change<%= task.id%>" style="display:none;">
      <div style='text-align: center;'>
        <%= image_tag('change.gif') %>
      </div>
    </div>
    <div id= "success<%= task.id%>" style="display:none;">
      <div style='text-align: center;'>
        <span class="glyphicon glyphicon-ok"></span>
      </div>
    </div>
  </td>
</tr>

<script>
  $('.less-<%= task.id %>').parent().hide();
  $('.more-<%= task.id %>').on('click', function(e) {
    e.preventDefault();
    $('.less-<%= task.id %>').parent().show();
    $('.more-<%= task.id %>').parent().hide();
  })
  $('.less-<%= task.id %>').on('click', function(e) {
    e.preventDefault();
    $('.less-<%= task.id %>').parent().hide();
    $('.more-<%= task.id %>').parent().show();
  })
</script>
