<% if tasks_today.present? %>
  <table class= "table table-hover">
      <% tasks_today.each do |task| %>
        <tr>
          <% if task.completed? %>
            <td></td>
            <td>
              <label><s><%= render_with_hashtags(task.title, task.team_id)%></s></label>
            </td>
            <td><span class="label label-success"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <%= format_date(task.completed_on)%></span></td>
            <td>
               <%= link_to reset_v2_team_task_path(id: task.id, team_id: task.team_id), method: :put, remote: true do %>
                 <i class="fa fa-undo" aria-hidden="true"></i> Undo
               <% end %>
            </td>
          <% else %>
            <td>
              <%= check_box_tag 'done', task.id, task.completed?,
                data: {
                  remote: true,
                  url: url_for(action: :complete, id: task.id, team_id: team.id),
                  method: "PUT"
                } %>
            </td>
            <td>
              <label for="derp"><%= render_with_hashtags(task.title, task.team_id)%> </label>
            </td>
            <td><span class="label label-default"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <%= format_date(task.due_on)%></span></td>
            <td>
              <% if !task.blocker %>
                <%= link_to blocker_v2_team_task_path(id: task.id, team_id: task.team_id), method: :put, remote: true, class: 'btn-sm btn-info' do %>
                  <i class="fa fa-stop-circle-o" aria-hidden="true"></i> Mark as Blocker
                <% end%>
              <% else %>
                <span class="label label-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Blocker</span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </table>
<% else %>
  <table class= "table table-hover">
    <tr>
      <td>No planned tasks found for you today</td>
    </tr>
  </table>
<% end %>
