<% if @tasks_tmw.present? %>
  <table class='table'>
    <% tasks_tmw.each do |task| %>
    <tr>
      <td><i class="fa fa-tasks" aria-hidden="true"></i></td>
      <td><label><%= render_with_hashtags(task.title, task.team_id)%></label></td>
      <td>
        <span class="label label-default"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <%= format_date(task.due_on)%></span>
      </td>
    </tr>
    <% end %>
  </table>
<% else %>
<table class= "table table-hover">
    <tr>
      <td>No upcoming tasks found for you.</td>
    </tr>
  </table>
<% end %>
