<%= form_for @task, url: v2_team_tasks_path do |f|%>
  <%= f.label :title%>
  <%= f.text_area :title, required: true %>
  <%= f.label :due_on %>
  <%= f.text_field :due_on, class: 'datepicker', required: true%>
  <%= f.label :blocker %>
  <%= f.check_box :blocker%>
  <%= f.hidden_field :team_id, value: @team.id%>
  <%= f.submit 'Add Task', class: 'btn btn-success'%>
<% end %>