<%= render 'v2/teams/team_header' %>
<%= content_for :page_header do %>
  <div class = "row">
    <h3> Your Tasks <small>Tasks for today and tomorrow will be shown here.Please update the tasks</small></h3>
  </div>
<% end %>

  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class='col-xs-8 col-sm-8'>
          <h3>Due Today (<%= @team.name %>) <small>Tasks which are due today </small></h3>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class='col-xs-12 col-sm-12'>
          <div class= "scroll_tasks mrg-btm">
              <%= render partial:'instant_task', locals: {task: @task, team: @team} %>
              <div id="tasks_today">
                <%= render partial:'today_tasks', locals: {tasks_today: @tasks_today, team: @team} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class='col-xs-8 col-sm-8'>
          <h3>Tomorrow (<%= @team.name %>) <small>Tasks for tomorrow </small></h3>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class='col-xs-12 col-sm-12'>
  <div class= "scroll_tasks mrg-btm">
      <%= render partial:'add_for_tmw', locals: {task: @task, team: @team} %>
        <div id="tasks_tmw">
          <%= render partial: 'tomorrow_tasks', locals: {tasks_tmw: @tasks_tmw, team: @team} %>
        </div>
  </div>
        </div>
      </div>
    </div>
  </div>
