<% title "Reports | AgileJoker" %>
<% content_for :page_header do %>
  <div class="row">
    <div class='col-xs-8 col-sm-8'>
      <h3>Reports <small>View and download reports for your teams</small></h3>
    </div>
  </div>
<% end %>

<%= search_form_for @q, url: report_v2_tasks_path do |f| %>

  <div class="row mrg-btm">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
      <%= f.select :team_id_eq, options_from_collection_for_select(@teams, "id", "name", @q.team_id_eq) , {:include_blank => "Choose Team"}, {class: "form-control", id: "team-change"}%>
      </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12" >
      <%= f.select :assignee_id_in, options_from_collection_for_select(@users, "id", "name", @q.assignee_id_in) , {}, { multiple: true, class: "form-control", style: "text-align: left;", id: "user-list", include_blank: "Select User"}%>
    </div>


    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <%= f.select :status, Task::STATUS, {:prompt => "Select Status"}, {class: "form-control"}%>
      </div>
    </div>
  </div>
  <div class="row mrg-btm">
    <div class="col-md-2 col-sm-2 col-xs-12" >
      <big style="vertical-align: -webkit-baseline-middle;}">Completed On:</big>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <%= f.text_field :completed_on_gteq, value: format_date(@q.completed_on_gteq),  class: "form-control", placeholder: "From Date", id: "from_date" %>
        <span class="fa fa fa-calendar calender-span"></span>
      </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <%= f.text_field :completed_on_lteq, value: format_date(@q.completed_on_lteq),  class: "form-control", placeholder: "To Date", id: "to_date" %>
        <span class="fa fa fa-calendar calender-span"></span>
      </div>
    </div>

  </div>
  <div class="row mrg-btm">
    <div class="col-md-2 col-xs-6 col-md-offset-8">
      <div class="pull-left"><%= link_to "Clear Filters", request.path, class:"btn btn-danger btn-block" %></div>
    </div>
    <div class="col-md-2 col-xs-6">
      <div class="pull-right"><%= f.submit "Filter Report", class: "btn btn-success btn-block"%></div>
    </div>
  </div>
<% end %>

<div class="row mrg-btm">
  <div class="col-md-4 col-xs-6">
    <div class="page_info text-muted">
      <%= page_entries_info @tasks %>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-bordered ta-bg-color">
    <tr>
      <th class="col-xs-6"><i class="fa fa-tasks" aria-hidden="true"></i>
      <%= sort_link @q, :title, "Title" %></th>
      <th><%= sort_link @q, :assignee_name, "Assignee" %></th>
      <th> <%= sort_link @q, :team_name, "Team" %></th>
      <th>Status</th>
    </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= render_with_hashtags(task.title, task.team_id) %></td>
      <td><%= task.assignee.name  %></td>
      <td><span class="label label-success"><%= task.team.name %></span></td>
      <td> <span class="label <%= status(task)[:class] %>"> <%= status(task)[:text] %></span></td>
    </tr>
  <% end %>
    <tr>
      <td colspan="4">
        <div class="flickr_pagination">
          <%= will_paginate @tasks, :container => false %>
        </div>
      </td>
    </tr>
  </table>
</div>
