$('#team-tasks').append('<%= j render(partial: 'v2/tasks/team_tasks')%>');
$('#on_load').hide();
<% if @tasks.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @tasks %>');
  $('.pagination').hide();
  $('.loading').show();
<% else %>
  $('.pagination').remove();
  $('.loading').hide();
  $('#on_load').show();
<% end %>
