<%= render 'v2/teams/team_header' %>
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <div class='row'>
        <div class='col-xs-8 col-sm-8'>
          <h3>Tasks <small>All the tasks will appear here<small></h3>
        </div>
      </div>
    </div>

    <div class='panel-body'>
      <div class='btn-group btn-group-sm'>
        <%= link_to 'My Tasks', my_task_v2_team_tasks_path(team_id: @team.id), remote: true, class: 'btn btn-default active', id: 'default-task' %>
        <%= link_to 'Team Tasks', team_task_v2_team_tasks_path(team_id: @team.id), remote: true, class: 'btn btn-default', id: 'team-task' %>
      </div>
      <div id='my-tasks'>
      </div>
      <div id='team-tasks'>
      </div>
      <div class='loading' style='text-align: center;'>
        <%= image_tag('loader.gif') %><i>Loading...</i>
      </div>
      <div class='well well-sm' id='on_load'>
        <div style='text-align: center;'>
          <i>No more tasks</i>
        </div>
      </div>
    </div>
  </div>
</div>
