<% title "Dashboard | AgileJoker" %>
<% content_for :page_header do %>
  <div class="row">
    <div class='col-xs-12 col-sm-8'>
      <div class="media headerphoto-wrap">
        <div class="media-left">
          <%=image_tag current_user.photo.medium.url, class: 'img-circle img-responsive headerphoto' %>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Hello, <%= current_user.try(:name)%></h3>
          <p>
            Welcome to AgileJoker!<br />Start viewing your team's updates directly in your inbox.
          </p>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <div class = "row mrg-btm">
        <div class='col-xs-12 col-sm-12'>
          <%= select_tag 'team_id',
           options_from_collection_for_select(current_user.teams, 'id', 'name'), required: true, class: 'form-control', id: 'select_team' %>
        </div>
      </div>
      <div class = "row mv-right">
        <div class='col-xs-12 col-sm-12'>
          <%= link_to '', class: 'btn-lg btn-success', id: 'link_post_task' do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Post Update
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-8 col-sm-8'>
      <h3> My Teams<small class='sr-only'> All teams, which you are part of</small></h3>
    </div>
    <div class='col-xs-4 col-sm-4'>
      <div class="pull-right">
        <h3>
          <%= link_to new_v2_team_path, class: 'btn btn-success' do %>
            <span class="glyphicon glyphicon-plus-sign"></span> Create a New Team
          <% end %>

        </h3>
      </div>
    </div>
  </div>
<% end %>
<% if @teams.empty? %>
  <div class="media headerphoto-wrap">
        <div class="media-left">
          <%=image_tag 'joker.jpg', class: 'img-responsive headerphoto' %>
        </div>
        <div class="media-body">
          <h3 class="media-heading text-warning">Oops! You just got the Joker!</h3>
          <p>
            You are not part of any team.
            <br /><br />
          </p>
          <p>
            No worries! Click on <%= link_to 'Create a New Team', new_v2_team_path, class: 'label label-success text-normal' %> to create your first team.<br />You can invite your folks after creating the team.
          </p>
        </div>
      </div>
<% else %>
  <div class="row">
    <% @teams.each do |team| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="team-rect-wrap">
            <%= link_to v2_team_path(team) do %>
              <%= image_tag team.team_setting.photo.medium.url, style: 'width: 100%; display: block;' %>
            <% end %>
          </div>
          <div class="caption">
            <%= link_to v2_team_path(team) do %>
              <h3><%= team.name %></h3>
            <% end %>
            <p><%= team.users.accepted.count%> Team member(s)</p>
            <% if !team.approved?(current_user)%>
              <div>
                <p><%= link_to approve_request_v2_team_path(team), method: :get, class: "btn btn-success btn-xs btn-block" do %>
                  <span class="glyphicon glyphicon-envelope"></span> Click to accept invite
                  <% end %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
