<% title "Dashboard | AgileJoker" %>
<% content_for :page_header do %>
  <div class="row">
    <div class='col-xs-12 col-sm-12'>
      <div class="media headerphoto-wrap">
        <div class="media-left">
          <%=image_tag current_user.photo.medium.url, class: 'img-circle img-responsive headerphoto' %>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Hello, <%= current_user.try(:name)%></h3>
          <p>
            Welcome to AgileJoker!<br />Start viewing your team's updates directly in your inbox.
          </p>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-12'>
      <%= render 'shared/how_it_works' %>
    </div>
  </div>
<% end %>
