<%= content_for :page_header do %>
  <div class="row">
    <div class='col-xs-12 col-sm-8'>
      <div class="row">
        <div class='col-xs-12 col-sm-8'>
          <div class="media">
            <h3 class="media-heading">
              <%= @team.name %> <small><span class="label label-info"><%= @team.member_count %> user(s)</span></small>
            </h3>
            <p>
              Question email at <b><%= @team.team_setting.question_email_at%></b><br />
              Digest email at <b><%= @team.team_setting.digest_email_at%></b> (next day)<br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="media">
    <div class="row">
      <div class='col-xs-12 col-sm-12'>
        <% if @team.approved?(current_user)%>
          <nav class="navbar navbar-primary">
            <div class="container-fluid">
              <ul class="nav navbar-nav" style="margin-left: -15px">
                <li class="<%= is_active?('v2/tasks', 'prepare_tasks') %>"><%= link_to "Today", prepare_tasks_v2_team_tasks_path(@team) %></li>
                <li class="<%=is_active?('v2/tasks', 'user_task')%>"><%= link_to "Tasks",  user_task_v2_team_tasks_path(@team) %></li>
                <li class="<%=is_active?('v2/teams', 'members')%>"><%= link_to "People", members_v2_team_path(@team)%></li>
                <% if policy(@team).update? %>
                  <li class="<%=is_active?('v2/teams', 'edit')%>"><%= link_to "Settings", edit_v2_team_path(@team) %></li>
                <% end %>
              </ul>
            </div>
          </nav>
        <% else %>
          <p>You are invited to this team.Please accept the request. </b> <%= link_to "Click to Accept", approve_request_v2_team_path(@team), method: :get, :class => "btn btn-success"%></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

