
<div class="post-wrap">

<div class="media">
  <div class="media-left">
    <%= image_tag user.photo.medium.url, class: 'thumbnail', style: 'height: 64px; width: 64px;' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= user.name %>
      <div class= "media-heading pull-right">
        <%if !team.approved?(user) && current_user.team_admin(team)%>
          <%= link_to resend_invitation_v2_team_path(user_id: user.id), class: "btn btn-success btn-xs",id:"resend", data: {confirm: "Are you sure", disable_with: "Processing"} do %>
            <i class="fa fa-envelope" aria-hidden="true"></i> Resend Invitation
          <%end%>
        <%end%>
      </div>
      <% if user.team_admin(team) %>
        <span class="label label-info">owner</span>
      <% end %>
    </h4>
    <div><small><%= team_addition_info(team, user) %></small></div>

    <% if !team.approved?(user)%>
      <div><small>Emailed <%= user.email %></small></div>
      <div><span class="label label-warning">Pending</span></div>
    <% end %>

    <% if current_user.team_admin(team)%>
      <div >
        <% if user.member?(team) %>
          <%= link_to "Make Watcher", role_change_v2_team_path(user_id: user.id, team: team.id, checked: true), method: :post, data: { confirm: "Are you sure?\n\n Note: Watcher gets only digest email and \nMember will get both digest and question emails."}, class: "btn btn-primary btn-xs"%>
        <% else %>
          <%= link_to "Make Member", role_change_v2_team_path(user_id: user.id, team: team.id, checked: false), method: :post, data: { confirm: "Are you sure?\n\n Note: Watcher gets only digest email and \nMember will get both digest and question emails."}, class: 'btn btn-primary btn-xs'%>
        <% end %>
        <%if !user.team_admin(team) %>
          <%= link_to 'Remove', remove_user_v2_team_path(user_id: user.id), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
</div>
