<%= render 'team_header' %>

<div id="activity" class="tab-pane active">
  <% if current_user.plan.data_retention? %>
    <p>Showing activity for the last <%= Post::DAYS_LIMIT %> days.</p>
  <% end %>
  <div>
    <div class="bs-callout bs-callout-info">
      <div class="row">
        <div class='col-xs-12 col-sm-12'>
          <p><b>What does these icons mean?</b></p>
          <span class="fa fa-check-square-o"></span> Done Today
          <span class="fa fa-plus-square"></span> Plan for Tomorrow
          <span class="fa fa-stop-circle-o"></span> Blockers
        </div>
      </div>
    </div>
    <% if @posts.present? %>
      <% @posts.each do |date, activities| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class='col-xs-12 col-sm-12'>
              <h3><%= date.strftime("%A, %d %b %Y")%></h3>
              <h3><small><%= activities.size %> updates</small></h3>
            </div>
            <div class='col-xs-12 col-sm-12'>
              <div></div>
            </div>
          </div>
        </div>
        <div class="panel-body">
        <% activities.group_by(&:user).each do |user, posts|%>
          <div class="post-wrap">
            <div class="media">
              <div class="media-left">
                <%=image_tag user.photo.thumb.url, style: 'width: 40px; height: 40px;' %><br />
              </div>
              <div class="media-body">
                <p><b><%=user.name %></b></p>
              </div>
            </div>
            <%posts.each do |post|%>
              <% @i = 0 %>
              <% @count = posts.count{|x| x.is_a?ExtActivity} %>
              <% if post.is_a?Post %>
              <small>Posted <%= "#{time_ago_in_words(post.date)} ago"%></small>
                <div class="media">
                  <table class="table table-striped">
                    <tr class="success"><td><span class="fa fa-check-square-o"></span> &nbsp;<%= post.today%></td></tr>
                    <tr class="active"><td><span class="fa fa-plus-square"></span> &nbsp;<%= post.tomorrow%></td></tr>
                    <tr class="danger"><td><span class="fa fa-stop-circle-o"></span> &nbsp;<%= post.blockers%></td></tr>
                  </table>
                </div>
              <%end%>
            <%end%>
          <br><p><%= @count %> commits from GitHub</p>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="well">No updates yet. Please check your mailbox to see how you can send updates to AgileJoker.</div>
  <% end %>
</div>
