<%if @teams.present?%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><strong> Your Teams <span class="glyphicon glyphicon-chevron-down"></span></strong></h2>
  </div>
<table class="table table-responsive table-bordered">
  <tr>
    <th>Team Name</th>
    <th>Details </th>
    <th></th>
    <th>Accepted?</th>
    <th></th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %><%= image_tag team.team_setting.photo.medium.url, class: "img-thumbnail",:size => '150x100' %></td>
      <td><%= link_to "Team Details", team_path(team), method: :get%></td>
      <% if team.approved?(current_user)%>
        <td><%= link_to "Team History", team_history_team_path(team)%></td>
        <td>Accepted</td>
        <td><button type="button" class="btn btn-info btn-small" data-toggle="modal" data-target="#myModal<%= team.id%>">Team Settings  <span class= "glyphicon glyphicon-resize-full"></span></button>
            <!-- Modal -->
            <div id="myModal<%=team.id%>" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Team Settings</h4>
                  </div>
                  <div class="modal-body">
                    <p>Question Email Time : <b><%= team.team_setting.question_email_at%></b></p>
                    <p>Digest Email Time : <b><%= team.team_setting.digest_email_at%></b>(next day)</p>
                    <p>Timezone : <b><%= team.team_setting.timezone%></b></p>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
        </td>
      <% else %>
        <td></td>
        <td>Pending Acceptance <%= link_to "Click to Accept", approve_request_team_path(team), method: :get, :class => "btn btn-success"%></td>
      <% end %>
    </tr>
  <%end%>
</table>
</div>
<% else %>
  <div class="well"> Hey !! You don't have any teams yet.Try creating new one <%= link_to('Create Team', new_team_path, method: :get,  :class => "btn btn-success") %></div>
<% end %>
