<% content_for :page_header do %>
  <h3>New Team <small>Creating a new team owned by <%= current_user.name %></small></h3>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title"><strong>Create Team </strong></h2>
  </div>
  <%= form_for @team, { url: v2_teams_path } do |f| %>
    <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@team.errors.count, "error") %> prohibited
        this team from being saved:
      </h2>
      <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="panel-body">
      <div class= "row">
        <div class= "col-md-5 ">
          <%= f.label :name %>
        </div>
        <div class= "col-md-1"></div>
        <div class = "col-md-6 lead">
          What you get <span class="text-success">?</span>
        </div>
      </div>
      <div class= "row">
        <div class= "col-md-5 ">
          <%= f.text_field :name, :required => true, :placeholder=> "Name of Team",:class => "form-control" %>
        </div>
      </div>
      <%= f.fields_for :team_setting do |setting| %>
        <div class= "row">
          <div class= "col-md-5 ">
            <%= setting.label :question_email_at %>
          </div>
          <div class= "col-md-1"></div>
          <div class = "col-md-6 ">
            <ul class="list-unstyled" >
              <li><span class="glyphicon glyphicon-ok"></span> A unique dedicated email-id for for your team</li>
            <ul>
          </div>
        </div>
        <div class= "row">
          <div class= "col-md-5 ">
            <%= setting.select :question_email_at, question_time, {:default => question_time[3]}, {:class => "form-control"} %>
          </div>
        </div>
        <div class= "row">
          <div class= "col-md-5 ">
            <%= setting.label :digest_email_at %>
          </div>
          <div class= "col-md-1"></div>
          <div class = "col-md-6 ">
            <ul class="list-unstyled" >
              <li><span class="glyphicon glyphicon-ok"></span> You decide at what time you want to sent question emails for your team</li>
            <ul>
          </div>
        </div>
        <div class= "row">
          <div class= "col-md-5 ">
            <%= setting.select :digest_email_at, digest_time, {:default => digest_time[6] }, {:class => "form-control"} %>
          </div>
        </div>
        <div class= "row">
          <div class= "col-md-5 ">
            <%= setting.label :timezone %>
          </div>
          <div class= "col-md-1"></div>
          <div class = "col-md-6 ">
            <ul class="list-unstyled" >
              <li><span class="glyphicon glyphicon-ok"></span> You can fix the time for digest emails for the next day.</li>
            <ul>
          </div>
        </div>
        <div class= "row">
          <div class= "col-md-5 ">
            <%= setting.time_zone_select :timezone, /Chennai/, {:default => "Chennai"}, {:class => "form-control"} %>
          </div>
        </div>
        <div class= "row">
          <div class= "col-md-5 ">
            <%= setting.label :photo %>
          </div>
        </div>
        <div class= "row">
          <div class= "col-md-5 ">
            <%= setting.file_field :photo, {:class => "form-control"} %>
          </div>
        </div>
        <div class= "row">
          <div class= "col-md-5 ">
            <div class="form-group">
              <%= setting.label 'Question Email Days/Digest Email Days' %>
             </div>
          </div>
        </div>
        <div class= "row">
          <div class= "col-md-5 ">
            <div class="form-group">
              <%=select_tag 'team[team_setting_attributes][days][]', options_for_select(Date::DAYNAMES.zip((0..6).to_a), @team.team_setting.days), :multiple => true, class: "form-control", id: "days-select"%>
            </div>
          </div>
        </div>
      <% end %>
      <div class = "row"><br>
        <div class= "col-md-5 ">
          <%= f.submit "Create Team" , :class => "btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
