<% if @posts.present? && @team.approved?(current_user) %>
  <% @posts.each do |date, posts| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= date.strftime("%A, %d %b %Y")%> <span class=" glyphicon glyphicon-calendar"></span> </div>
      <div class="panel-body">
    <% posts.each do |post|%>
         <h3><span class=" glyphicon glyphicon-user"></span> <%= post.user.name%></h3><br>
         <span class=" glyphicon glyphicon-check"></span> <%= post.today%><br>
         <span class=" glyphicon glyphicon-pencil"></span> <%= post.tomorrow%><br>
         <span class=" glyphicon glyphicon-stop"></span> <%= post.blockers%><br>
    <% end %>
     </div>
    </div>
  <% end %>
<% else%>
  <div class="well">No posts available for this team</div>
<% end %>