<% title "Editing profile | AgileJoker" %>
<% content_for :page_header do %>
  <h3>Editing Profile <small>Editing profile for <%= @user.name %></small></h3>
<% end %>
<%= form_for(@user) do |f| %>
 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being updated:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
<div class='row'>
  <div class='col-xs-3 col-sm-4'>
    <div>
      <%=image_tag @user.photo.medium.url, class: 'img-circle img-responsive' %>
    </div>
  </div>
  <div class='col-xs-9 col-sm-8'>

      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <%= f.text_field :name,  class: "form-control" ,id: "exampleInputEmail1", placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
          <span class="glyphicon glyphicon-lock"></span> Change Password
        <% end %>
      </div>
      <div class="form-group">
        <div class="highlight">
        <label for="user_photo">Change Photo</label>
        <%= f.file_field :photo, id: "user_photo" %>
        <p class="help-block">Select a photo to set as the profile picture.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Time Zone</label>
        <%= f.time_zone_select :timezone, /Chennai/, {:default => "Chennai"}, {:class => "form-control"} %>
      </div>
      <div class="form-group">
        <label>Github Username</label>
        <%= f.text_field :github_username,  class: "form-control" ,id: "exampleInputEmail1", placeholder: "Github Username" %>
        <p class="help-block">Please set your github username to get commit messages from github</p>
      </div>
      <%= f.submit "Save",class: "btn btn-success" %>

  </div>
</div>
<%end%>
