<% title "Your profile | AgileJoker" %>
<% content_for :page_header do %>
  <div class="row">
    <div class='col-xs-8 col-sm-8'>
      <h3>Your Profile  <small>Viewing profile for <%= @user.name %></small></h3>
    </div>
    <div class='col-xs-4 col-sm-4'>
      <div class="pull-right">
        <h3><%= link_to 'Edit', edit_user_path, class: 'btn btn-primary btn-sm' %></h3>
      </div>
    </div>
  </div>
<% end %>

<div class='row'>
  <div class='col-xs-3 col-sm-4'>
    <div>
      <%=image_tag @user.photo.medium.url, class: 'img-circle img-responsive full-width' %>
    </div>
  </div>
  <div class='col-xs-8 col-sm-8'>
    <div class="form-group">
      <h4>Name:</h4>
      <div>
        <span><%= @user.name %></span>
      </div>
      <h4>Email:</h4>
      <div>
        <span><%= @user.email %></span>
      </div>
    </div>
    <div class="form-group">
      <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
        <span class="glyphicon glyphicon-lock"></span> Change Password
      <% end %>
    </div>
    <div class="form-group">
      <h4>Time Zone</h4>
      <div>
        <span><%= @user.timezone || '-' %></span>
      </div>
    </div>
    <div class="form-group">
      <h4>Github Username</h4>
      <div>
        <span><%= @user.github_username || '-'%></span>
      </div>
    </div>
    <div class="form-group">
      <h4>Plan:</h4>
      <div>
        <span class="label label-success"><%= @user.plan.try(:name) %></span>
      </div>
      <h4>Expires at :</h4>
      <div>
        <span class="label label-success"><i class="fa fa-calendar" aria-hidden="true"></i> <%= format_date(@user.subscriptions.last.end_date) %></span>
      </div>
    </div>
    </div>
  </div>
</div>
