<div class= "row">
  <div class= "col-md-3 col-sm-3"></div>
    <div class=" col-md-6 col-sm-6 ">                    
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Change your password <div class = "pull-right" style = "font-size: 12px"><%= link_to "Log in", new_session_path(resource_name) %></div></div>
        </div>     
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <div  class="panel-body" >
            <%= f.hidden_field :reset_password_token %>
            <%if  devise_error_messages! %>
              <div class= "row" style="margin-bottom: 25px">
                <%=  devise_error_messages! %>
              </div>
            <% end %>
            <div class= "row" style="margin-bottom: 25px">
              <div class= "col-md-4 col-sm-4">
                <%= f.label :password, "New password" %>
              </div>
              <div class = "col-md-8 col-sm-8">
                <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true, class: "form-control", placeholder: "New password" %>
              </div>
            </div>
            <div class= "row" style="margin-bottom: 25px">
              <div class= "col-md-4 col-sm-4">
                <%= f.label :password_confirmation, "Confirm New password" %>
              </div>
              <div class = "col-md-8 col-sm-8">
                <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", required: true, class: "form-control", placeholder: "Confirm new password" %>
              </div>
            </div>
            <div class= "row" style="margin-bottom: 25px" >
              <div class= "col-md-4 col-sm-4"></div>
              <div class= "col-md-8 col-sm-8">
                <%= f.submit "Change my password" , class: "btn btn-info"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>