<div class="howto">
  <h4>THANK YOU for signing up for AgileJoker.<h4>
  <p>We are currently in beta, and would like to know your comments and feedback. Say hi to us at <a href="mailto:hello@agilejoker.com">hello@agilejoker.com</a></p>
  <h3>This is how it works</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-content">
          <p><span class="label label-info">STEP 1</span></p>
          <h4>A question email is sent at the end of the day</h4>
          <div class="subtext">
            <p>An email is sent to all team members at the end of the day, with the following questions - </p>
            <div class="media">
              <ul>
                <li>What did you do today?</li>
                <li>What is the plan for tomorrow?</li>
                <li>What problems are causing delays?</li>
              </ul>
            </div>
            <p>The email will be sent to you from a unique email created by us for your team.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-content">
          <p><span class="label label-info">STEP 2</span></p>
          <h4>Every team member replies to the question email</h4>
          <div class="subtext">
            <p>All team members should reply to the question email, with the text for Today, Tomorrow and Blockers. </p>
            <p><br />For example,</p>
            <div class="media">
<pre>
Today: I build signup page.
Tomorrow: Will work on login.
Blockers: Missing integ spec.
</pre>
            </div>
            <p>AgileJoker will record this info for your team. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-content">
          <p><span class="label label-info">STEP 3</span></p>
          <h4>A consolidated digest email is sent, the next day morning.</h4>
          <div class="subtext">
            <p>We will send a consolidated email of replies to the entire team, the next day morning.</p><br />
            <p>You can configure the time when the emails are sent. All emails are sent based on the user's timezone.</p>
            <p><br />We are here to support you. Email us at <a href="mailto:support@agilejoker.com">support@agilejoker.com </a> for any questions or feedback.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="media">
        <p><br /><span class="label label-danger">Note</span></p>
        <p>In your reply email you will have to explicitly use the text 'Today:' followed by what was done today in the same line, a line break and then the text 'Tomorrow:' followed by the text for tomorrow's plan. And 'Blockers:' followed by the text for blockers.</p>
        <p>Refer example above.</p>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-sm-4"><%= link_to 'Ok. Go To My Dashboard', root_path, class: 'btn btn-lg btn-success btn-block' %></div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-sm-12"><br /></div>
  </div>
</div>
