The following user is interested to upgrade AgileJoker to a paid plan.
<br />
<br />
User: <%= @user.name %> <br />
User Email: <%= @user.email %> <br />
UserID: <%= @user.id %> <br />
Team: <%= @team.try(:name) %> <br />
TeamID: <%= @team.try(:id) %> <br />
<br />
Change to Plan: <%= @plan %>

<br />
<br />
-
Team AgileJoker
