<% title "Subscription | AgileJoker" %>
<%= content_for :page_header do %>
  <div class="row">
    <div class='col-xs-12 col-sm-8'>
    <h2>Confirm your Subscription</h2>
    </div>
  </div>
<% end %>
<%= form_for @order do |f| %>
  <div class = "row">
    <div class = "col-md-7 col-sm-6">
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@order.errors.count, "error") %> prohibited
            this team from being saved:
          </h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    </div>
  </div>
  <div class='row'>
    <div class = "col-md-12 col-sm-12">
      <div class="alert alert-info">
        <strong>Important!</strong> Users who have registered address in India for Paypal, contact <strong><a href="mailto:support@agilejoker.com">support@agilejoker.com</a></strong> for making payment
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
        <%= f.hidden_field :plan_id, value: @plan.id%>
        <%= f.hidden_field :amount, value: @plan.price%>
          <div class = "row">
            <div class="col-md-6 col-sm-12">
              <%= f.label :plan%> :
            </div>
            <div class="col-md-6 col-sm-12">
              <h4><i class="fa fa-check-square-o" aria-hidden="true"></i> Maximum <%= @plan.max_teams%> teams</h4>
            </div>
          </div>
          <div class = "row">
            <div class="col-md-6 col-sm-12">
              <h4><%= @plan.name%> </h4>
            </div>
            <div class="col-md-6 col-sm-12">
              <h4> <i class="fa fa-check-square-o" aria-hidden="true"></i> Maximum <%= @plan.max_users%> users per team </h4> 
            </div>
          </div>
          <div class = "row">
            <div class="col-md-6 col-sm-12">
              <%= f.label :Duration%> :
            </div>
            <div class="col-md-6 col-sm-12">
               <h4><i class="fa fa-check-square-o" aria-hidden="true"></i> Email Support</h4>
            </div>
          </div>
          <div class = "row">
            <div class="col-md-6 col-sm-12">
              <h4>For one month</h4>
            </div>
            <div class="col-md-6 col-sm-12">
              <h4><i class="fa fa-check-square-o" aria-hidden="true"></i> Reports</h4>
            </div>
          </div>
          <div class = "row">
            <div class="col-md-6 col-sm-12">
              <%= f.label :amount%> :
            </div>
            <div class="col-md-6 col-sm-12">
              <%if @plan.slack? %>
                <h4> <i class="fa fa-check-square-o" aria-hidden="true"></i> Slack Integration</h4>
              <% end%>
            </div>
          </div>
          <div class = "row">
            <div class="col-md-6 col-sm-12">
              <h3><i class="fa fa-usd" aria-hidden="true"></i> <%= @plan.price%></h3>
            </div>
            <div class="col-md-6 col-sm-12">
              <%if !@plan.data_retention? %>
                <h4> <i class="fa fa-check-square-o" aria-hidden="true"></i> No view limits on data</h4>
              <% end%>
            </div>
          </div>
          <hr>
          <div class = "row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
              <%= f.submit "Make Payment", class: "btn btn-success"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
