<div class="panel panel-info">
  <div class="panel-heading">
    <h3>Choose Your Repos</h3>
    <p></p>
  </div>
  <div class="panel-body">
    <%= form_tag url_for(controller: 'github_hooks', action: 'update'), method: 'patch' do%>
      <%= image_tag( @repos.first[:owner][:avatar_url], size: "42x42")%>&nbsp;
      <strong><%= @repos.first[:owner][:login]%>'s Repositories</strong><br>
      <% @repos.each do |repo| %>
      <div class= "row">
        <div class= "col-md-4 col-md-offset-1">
          <strong><%= repo.name %></strong>
        </div>
        <label class="switch">
          <%= check_box_tag "repos[]", [repo.full_name,repo.id], @team.github_hooks.where(repo_id: repo.id, active: true).present? ? true : false%>
          <div class="slider round"></div>
        </label>
      </div>
      <% end %>
      <div class= "row">
        <div class= "col-md-3 col-md-offset-1">
          <%= submit_tag "Submit", class: "btn btn-success" %>
        </div>
      </div>
    <%end%>
  </div>
</div>

