<div class= "row">
  <div class= "col-md-4 col-sm-4"></div>
  <div class=" col-md-4 col-sm-4 ">
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div class="panel-title">Sign In</div>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div style="padding-top:30px" class="panel-body" >

          <form id="loginform" class="form-horizontal" role="form">
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "login-username", :placeholder => "Email" %>
            </div>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <%= f.password_field :password, autocomplete: "off", :id => "login-password", :class => "form-control", :placeholder => "Password" %>
            </div>
            <div class="input-group">
              <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %> Remember me
                </label>
              </div>
              <% end %>
            </div>
            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <%= f.submit "Login", :class => "btn btn-success btn-block" %>
              </div>
            </div>
            <% end %>
            <div class="form-group">
              <div class="col-md-12 control">
                <div style="font-size: 85%; padding-top:15px;">
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                  <br />
                  Don't have an account?
                  <%= link_to "Sign up", new_registration_path(resource_name) %>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
