<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="error-details">
            <h2> Sorry!!! Its look like your link has been expired</h1>
          </div>
        </div>
        <div class="error-action" >
          <a href="http://agilejoker.com" class="btn btn-primary btn-lg" ><span class="glyphicon glyphicon-home"></span>
                Take Me Home </a><br>
        </div>
        <div style="text-align: center;">
          <p>
            Having trouble? contact us at <a href="mailto:hello@agilejoker.com">hello@agilejoker.com</a>
          </p>
        </div>

    </div>
</div>
