<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please login to your AgileJoker account for further changes.</strong></p>
  <hr>
  <p>
    Having trouble? contact us at <a href="mailto:hello@agilejoker.com">hello@agilejoker.com</a>
  </p>
  <p class="lead">
    <%= link_to "Continue to homepage", new_user_session_path,  class: "btn btn-primary btn-sm"%>
  </p>
</div>
