<div class="panel panel-info">

  <%= form_for @post do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, "error") %> prohibited
          this team from being saved:
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="panel-body">
      <div id="slide">
        <div class= "row">
          <div class="col-md-1">
            <%=image_tag current_user.photo.thumb.url, class:"thumbnail", style: 'width: 64px; height: 64px;' %>
          </div>

          <div class= "col-md-10">
          <%= f.text_area :today, :required => true, autofocus: true, placeholder: "What did you do today?", size: "5x3", :class => "form-control" %><br>
          </div>
        </div>
      </div>

      <div id="form_hide">
        <div class= "row">
          <div class= "col-xs-12 col-sm-10 col-sm-offset-1">
            <%= f.text_area :tomorrow, :required => true, placeholder: "What is the plan for tomorrow?",size: "5x3", :class => "form-control" %><br>
          </div>
        </div>

        <div class= "row">
          <div class= "col-xs-12 col-sm-10 col-sm-offset-1">
            <%= f.text_area :blockers, :required => true, placeholder: "What problems are causing delays?",size: "5x3", :class => "form-control" %>
          </div>
        </div>

        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :team_id, value: @team.id %>
        <%= f.hidden_field :received_date, value: DateTime.now %>

        <div class = "row"><br>
          <div class= "col-md-5 col-md-offset-1 ">
            <%= f.submit "Save" , :class => "btn btn-success" %>&nbsp;
            <%= button_tag "Cancel",type: 'button', :class => "btn btn-default", id: "close" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render 'user_posts'%>


<script type="text/javascript">
  $(document).ready(function(){
    $( "#form_hide" ).hide();
    $('#slide').on('click', function() {
      $( "#form_hide" ).slideDown(800);
    });

    $('#close').on('click', function() {
      $( "#form_hide" ).slideUp(800);
    });
  });
</script>
