<% if current_user.plan.data_retention? %>
  <p>Showing updates for the last <%= Post::DAYS_LIMIT %> days.</p>
<% end %>
<% if @user_posts.present? %>
  <div>
    <% @user_posts.each do |date, posts| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class='col-xs-12 col-sm-12'>
            <h3><%= date.strftime("%A, %d %b %Y")%></h3>
            <h3><small><%= posts.size %> updates</small></h3>
          </div>
          <div class='col-xs-12 col-sm-12'>
            <div></div>
          </div>
        </div>
      </div>
      <div class="panel-body">
      <% posts.each do |post|%>
        <div class="post-wrap">
        <div class="media">
          <div class="media-left">
            <%=image_tag post.user.photo.thumb.url, style: 'width: 40px; height: 40px;' %><br />
          </div>
          <div class="media-body">
            <div class="row">
              <div class="col-md-4">
                <p>
                  <b><%= post.user.name %></b><br/>
                  <small>Posted <%= "#{time_ago_in_words(post.created_at)} ago"%></small>
                </p>
              </div>
                <% if editable(post.received_date, @team)%>
                  <div class="col-md-offset-11">
                    <%= link_to edit_post_path(id: post.id) do%>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <%end%>
                  </div>
                <%end%>
            </div>
          </div>
        </div>
        <div class="media">
        <table class="table table-striped">
          <tr class="success"><td><span class="fa fa-check-square-o"></span> &nbsp;<%= post.today%></td></tr>
          <tr class="active"><td><span class="fa fa-plus-square"></span> &nbsp;<%= post.tomorrow%></td></tr>
          <tr class="danger"><td><span class="fa fa-stop-circle-o"></span> &nbsp;<%= post.blockers%></td></tr>
        </table>
        </div>
        </div>
      <% end %>
      </div>
    </div>
    <% end %>
    <div class="flickr_pagination">
      <%= will_paginate @posts, :container => false %>
    </div>
  </div>
<% else%>
  <div class="well">No updates yet</div>
<% end %>


