<div class="panel panel-info">
  <div class="panel-heading">
    <h3>Edit Post</h3>
    <p></p>
  </div>
  <%= form_for @post do |f| %>
    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this team from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="panel-body">
      <div class= "row">
        <div class= "col-md-5 ">
          <%= f.label :today %>
        </div>
        <div class= "col-md-1"></div>
        <div class = "col-md-6 lead">
          What did you do today?
        </div>
      </div>
      <div class= "row">
        <div class= "col-md-5 ">
          <%= f.text_area :today, :required => true,:class => "form-control" %>
        </div>
      </div>

      <div class= "row">
        <div class= "col-md-5 ">
          <%= f.label :tomorrow %>
        </div>
        <div class= "col-md-1"></div>
        <div class = "col-md-6 lead">
          What is the plan for tomorrow?
        </div>
      </div>
      <div class= "row">
        <div class= "col-md-5 ">
          <%= f.text_area :tomorrow, :required => true, :class => "form-control" %>
        </div>
      </div>

      <div class= "row">
        <div class= "col-md-5 ">
          <%= f.label :blockers %>
        </div>
        <div class= "col-md-1"></div>
        <div class = "col-md-6 lead">
          What problems are causing delays?
        </div>
      </div>
      <div class= "row">
        <div class= "col-md-5 ">
          <%= f.text_area :blockers, :required => true,:class => "form-control" %>
        </div>
      </div>
      <%= f.hidden_field :received_date, value: DateTime.now %>

      <div class = "row"><br>
        <div class= "col-md-5 ">
          <%= f.submit "Update" , :class => "btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>




