<% title "Reports | AgileJoker" %>
<% content_for :page_header do %>
  <div class="row">
    <div class='col-xs-8 col-sm-8'>
      <h3>Reports <small>View and download reports for your teams</small></h3>
    </div>
  </div>
<% end %>

<%= search_form_for @q, url: search_posts_path do |f| %>
<div class="row mrg-btm">
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="form-group">
    <%= f.select :team_name_eq, options_from_collection_for_select(@teams, "name", "name", @q.team_name_eq) , {:prompt => "Choose Team"}, {class: "form-control"}%>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12" >
    <div class="form-group">
      <%= f.select :user_id_in, options_from_collection_for_select(@users, "id", "name", @q.user_id_in) , {}, { multiple: true, class: "form-control", style: "text-align: left;", id: "user-select", include_blank: "Select User"}%>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="form-group">
      <%= f.text_field :received_date_gteq, value: format_date(@q.received_date_gteq),  class: "form-control datepicker", placeholder: "From Date" %>
      <span class="fa fa fa-calendar calender-span"></span>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="form-group">
      <%= f.text_field :received_date_lteq, value: format_date(@q.received_date_lteq), class: "form-control datepicker", placeholder: "To Date" %>
      <span class="fa fa fa-calendar calender-span"></span>
    </div>
  </div>
</div>
<div class="row mrg-btm">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
  </div>
  <div class="col-sm-2">
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="pull-left"><%= link_to "Clear Filters", request.path, class:"btn btn-danger btn-block" %></div>
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="pull-right"><%= f.submit "Filter Report", class: "btn btn-success btn-block"%></div>
  </div>
</div>
<% end %>
<div class="row mrg-btm">
  <div class="col-md-4 col-xs-6">
    <div class="page_info text-muted">
      <%= page_entries_info @posts %>
    </div>
  </div>
  <div class="col-md-6">
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="pull-right">
      Export: <%= link_to  search_posts_path(params.merge(format: 'csv')) do %>
        <i class="fa fa-file-text" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-bordered ta-bg-color">
    <tr>
      <th><%= sort_link @q, :user, "User" %></th>
      <th></i> <%= sort_link @q, :team, "Team" %></th>
      <th class="col-xs-6"><i class="fa fa-tasks" aria-hidden="true"></i> <%= sort_link @q, :today, "Accomplishments" %></th>
      <th><%= sort_link @q, :received_date, "Received At"%></th>
    </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.user.user_detail  %></td>
      <td><span class="label label-success"><%= post.team.name %></span></td>
      <td><%= post.today %></td>
      <td><%= format_date(post.received_date) %></td>
    </tr>
  <% end %>
    <tr>
      <td colspan="4">
        <div class="flickr_pagination">
          <%= will_paginate @posts, :container => false %>
        </div>
      </td>
    </tr>
  </table>
</div>
