$('.tab-content #updates').html("<%= escape_javascript(render partial: 'posts/new', locals: { team: @team } ) %>");
$('.nav-tabs [data-target="#updates"]').tab('show');
$('.flickr_pagination a').attr('data-remote', 'true');
