.navbar {
    margin-bottom: 0;
}
.text-normal{
  font-weight: normal;
}

@media (min-width: 1200px){
  .container {
    width: 970px;
  }
}
.navbar-default {
    background-color: #313A5B;
    border-color: #252c45;
}

.navbar-primary {
    background-color: #fff;
    border-color: #eeeeee;
   li a:hover {
     background-color: #eeeeee;
     color: #000000;
   }
}

.navbar-primary .navbar-nav > .active{
    color: #000000;
   background: #555;
 }

 .navbar-primary .navbar-nav > .active > a,
 .navbar-primary .navbar-nav > .active > a:hover,
 .navbar-primary .navbar-nav > .active > a:focus {
      color: #000000;
      background: #eeeeee;
 }

.page-header {
    padding: 40px 0 0 0;
    margin: 0;
    border-bottom: 1px solid #eeeeee;
    background-color: white;
}
.messages{
  background-color: white; //TODO: use variables here
}
.page-body{
  padding: 40px 0;
}
.alert{
  margin-top: 10px;
}
.nav-tabs {
    border-bottom: 1px solid #f1f1f1;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-bottom-color: transparent;
  cursor: default;
}
.panel-title{
  font-size: inherit;
}
input[type="file"] {
    display: block;
    width: 100%;
}
.panel-info {
  border-color: #d5d9e8;
}
.panel-info > .panel-heading {
  color: #495687;
  background-color: #e0e3ee;
  border-color: #d5d9e8;
}
.panel-heading h3{
  margin: 4px 0;
}
.caption h3{
  margin-top: 5px;
}
button.multiselect{
  text-align: left;
}
