@import 'globals';
@import 'bootstrap_customize';
@import 'callouts';
@import 'cards';
@import 'pace';
@import 'github_hooks';

// App Styles
.full-width{
  width: 100%;
}
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

#loginbg{
  background: image_url('table.jpg');
  background-size: cover;
}
.headerphoto{
  max-width: 120px;
}
.headerphoto-wrap{
  margin-bottom: 35px;
}
.highlighted-caption{
  padding: 9px;
}
.team-rect-wrap{
  overflow: hidden;
  height: 180px;
}
.pagetabs{
  background-color: white;
}
.post-wrap{
  padding: 10px;
  background-color: #fafafa;
  margin: 10px 0;
  border-radius: 4px;
}
#activity .bs-callout{
  margin: 0 0 20px 0;
}
.ta-bg-color{
  background-color: #ffffff;
}
span.m{
  font-size: 70%;
}
.howto .card{
  min-height: 375px;
}
.mrg-btm{
  margin-bottom: 20px;
}
.calender-span{
  float: right;
  margin-right: 6px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
  color: black;
}
.classWithPad{
  margin-bottom: 20px;
}

// Pagination
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}
.flickr_pagination .disabled {
  color: #aaaaaa;
}
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px;
}
.flickr_pagination .previous_page {
  margin-right: 1em;
}
.flickr_pagination .next_page {
  margin-left: 1em;
}

// For Instant Posts
.error-details {
  padding-top: 90px;
  text-align: center;
}
.error-action {
  margin-left: 385px;
}

.mv-right{
  float: right;
}
input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
}

.scroll_tasks{
    background: white;
    min-height: 300px;
}
.mrg-top{
  margin-top: 20px;
}
.btn-group{
 .btn.active{
    background: #27b740;
    color: white;
  }
}
.grid > div {
  border-bottom-style: inset;
}
#my-tasks{
  margin-top: 20px;
}
.loading{
  img {
    width: 130px;
    margin-right: -40px;
  }
}

.g-recaptcha {
    transform:scale(0.91);
    transform-origin:0 0;
}
