<div class = "row">
  <div class="col-sm-4 col-xs-12">
    <div class="panel panel-success">
      <div class="panel-body">
        <div class = "row">
          <div class="col-sm-4">
            <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-8">
            <h4><%= @metrics[:signups]%> Signups</h4>
            <h4><%= @metrics[:pending_users]%> Un-confirmed</h4>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="panel panel-success">
      <div class="panel-body">
        <div class = "row">
          <div class="col-sm-4">
            <i class="fa fa-users fa-4x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-8">
            <h4><%= @metrics[:teams]%> Teams</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="panel panel-success">
      <div class="panel-body">
        <div class = "row">
          <div class="col-sm-4">
            <i class="fa fa-money fa-4x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-8">
            <% if @metrics[:subscriptions].present? %>
              <% @metrics[:subscriptions].each do |plan_code, subscriptions| %>
                <h4><b><%= @metrics[:plans][plan_code.to_i] %></b> (<%= subscriptions %> users)</h4>
              <% end %>
            <% else %>
              <h4>0 Subscriptions</h4>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
