<div class="row mrg-btm">
  <div class="col-md-4 col-xs-6">
    <div class="page_info text-muted">
      <%= page_entries_info @allotments %>
    </div>
  </div>
  <div class="col-md-6">
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="pull-right">
      <%= link_to '#' do %>
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-bordered ta-bg-color">
    <tr>
      <th><%= sort_link @q, :user, "User" %></th>
      <th>User Email</th>
      <th>Team</th>
      <th>Joined</th>
      <th>TZ</th>
      <th>Conf?</th>
      <th>LoginAt</th>
      <th>UID</th>
      <th>TID</th>
    </tr>
  <% @allotments.each do |allotment| %>
    <tr>
      <td><%= allotment.user.name  %></td>
      <td><%= allotment.user.email  %></td>
      <td><%= allotment.team.name  %></td>
      <td><%= allotment.user.created_at %></td>
      <td><%= allotment.user.timezone %></td>
      <td><%= allotment.user.status %></td>
      <td><%= allotment.user.last_sign_in_at %></td>
      <td><%= allotment.user.id %></td>
      <td><%= allotment.team.id %></td>
    </tr>
  <% end %>
    <tr>
      <td colspan="4">
        <div class="flickr_pagination">
          <%= will_paginate @allotments, :container => false %>
        </div>
      </td>
    </tr>
  </table>
</div>
