<% title "Captain's Deck | AgileJoker" %>

<% content_for :page_header do %>
  <div class="row">
    <div class='col-xs-8 col-sm-8'>
      <h3>Admin Dashboard <small>View statistics of agilejoker</small></h3>
    </div>
  </div>
  <div class="media">
    <div class="row">
      <div class='col-xs-12 col-sm-12'>
        <ul class="nav nav-tabs">
          <li role="presentation"><%=link_to 'Today', today_captains_deck_path, :'data-target' => "#today" %></li>
          <li role="presentation" class="active"><%=link_to 'All-Time', full_captains_deck_path, :'data-target' => "#full" %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>


<div class="tab-content">
  <div id="today" data-target="#today" class="tab-pane"></div>
  <div id="full" data-target="#full" class="tab-pane"></div>
</div>


<div id="today" class="tab-pane"></div>

<div id="full" class="tab-pane active">
  <%= render 'metrics' %>
  <%= render 'user_list' %>
</div>
