<% title "List of available plans | AgileJoker" %>
<% content_for :page_header do %>
  <div class="row">
    <div class='col-xs-8 col-sm-8'>
      <h3>Upgrade <small>Choose a plan that suits your need</small></h3>
    </div>
  </div>
<% end %>

<div class="row">
    <div class='col-xs-8 col-sm-8'>
      <h4>Current Plan  : <span class="label label-success"><%= current_user.plan.name%></span></h4>
      <br />
    </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-title bg-success">
                <h3>Team Joker <span class="label label-success">PRO</span></h3>
              </div>
              <div class="card-content">
                <p></p>
                <ul>
                  <li>Upto 20 teams</li>
                  <li>Upto 20 users/team</li>
                  <li>No Data limits</li>
                  <li>Reports, Scheduled report emails</li>
                  <li>E-mail Support</li>
                </ul>
                <p>Upgrade to this plan for managing multiple teams effectively.</p>
                <hr>
                <h3>$9 / month <small>(paid month to month)</small></h3>
                <hr>
                <p><a class="btn btn-danger btn-lg btn-block" href="<%= new_order_path(plan_id: Plan.where(code: 112).first.id) %>">Upgrade</a></p>
              </div>
            </div>
            </div>
            <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-title bg-info">
                <h3>Custom Joker <span class="label label-default">ENTERPRISE</span></h3>
              </div>
              <div class="card-content">
                <p></p>
                <ul>
                  <li>More than 20 teams</li>
                  <li>All premium features</li>
                  <li>Feature customizations</li>
                  <li>E-mail Support</li>
                </ul>
                <p>Contact us at <a href='mailto:support@agilejoker.com'>support@agilejoker.com</a> </p>
                <hr>
                <h3>Talk to us for price</h3>
                <hr>
                <p><a class="btn btn-default btn-lg btn-block" href="<%= upgrade_plans_path(plan_id: 2) %>">Talk to Us</a></p>
              </div>
            </div>
  </div>
  </div>
