<% title "Plan upgrade | AgileJoker" %>
<% content_for :page_header do %>
  <div class="row">
    <div class='col-xs-8 col-sm-8'>
      <h3>Upgrade your plan  <small></small></h3>
    </div>
  </div>
<% end %>
<div class="highlight">
<div class="row">
    <div class='col-xs-12 col-sm-12'>

      <div class='media'>
        <div class='media-content'>
          <h2>Thank you. Your rock!</h2>

          <p>Thanks for your interest!</p>
          <p>We are in the process of rolling out the premium features.<br />We will get back to you as soon as possible. </p>
          <p>In case of any questions send us an email at <a href='mailto:support@agilejoker.com'>support@agilejoker.com</a>.</p>
        </div>
      </div>
      <br />
      <br />
    </div>
</div>
</div>
