<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <!-- script reqd in head -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js" integrity="sha256-EPrkNjGEmCWyazb3A/Epj+W7Qm2pB9vnfXw+X6LImPM=" crossorigin="anonymous"></script>
    <title><%= yield(:title) || 'AgileJoker | Keep your teams in-sync' %></title>
  </head>
  <body id='page-<%=controller_name%>'>
    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">AgileJoker <span class="m">(beta)</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="<%= root_path%>">Dashboard</a></li>
            <li><a href="<%= report_v2_tasks_path%>">Reports</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.plan.name == "FREE"%>
              <li>
                <a href="<%= plans_path%>"><span class='label label-success text-normal'>Upgrade to PRO</span></a>
              </li>
            <% end %>
            <li class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"><%= current_user.name || current_user.email %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'How It Works', start_path %></li>
                <li><%= link_to 'Your Profile', user_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="messages">
      <div class="container">
        <% if notice %>
          <div class="alert alert-info" role="alert" id= "success-alert">
            <%= notice %>
          </div>
        <% end %>
        <% if alert.present?%>
          <div class="alert alert-danger" id= "success-alert">
            <%= alert %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="page-header">
      <div class="container">
        <%= yield :page_header %>
      </div>
    </div>
    <div class="page-body">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>

    <% if Rails.env.production? %>
      <%= render 'layouts/analytics' %>
      <%= render 'layouts/zopim' %>
    <% end %>
  </body>
</html>
