<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <title> AgileJoker | Keep your teams in-sync</title>
    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;

  background-size: contain;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>


</head>

<body>

    <!-- Page Content -->
    <div class="container">
        <% if notice %>
          <div class="alert alert-info" role="alert" id= "success-alert">
            <%= notice %>
          </div>
        <% end %>
        <% if alert.present?%>
          <div class="alert alert-danger" id= "success-alert">
            <%= alert %>
          </div>
        <% end %>
      <%= yield %>
    </div>
    <!-- /.container -->
    <% if Rails.env.production? %>
      <%= render 'layouts/analytics' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
</body>

</html>
